{% extends 'pdfLayout.html.twig' %}

{% block style %}
    <link rel="stylesheet" href='{{ absolute_url(asset('style/pdfAccount_generator.css')) }}' />
{% endblock %}

{% block body %}
    <p id="dateStatement"><strong>Solde au {{ "now"|date("d.m.Y") }}</strong></p>
    <table>
        <tr id="tableHeader">
            <td>Désignation</td>
            <td>PU</td>
            <td>Quantité</td>
            <td>Montant HT</td>
        </tr>
        {% set total = 0 %}
        {% for facture in factures %}
            {% if loop.last %}
                <tr>
                    <td class="rowEnd"><br>{{ facture }}</td>
                    <td class="rowEnd" id="toAlignRight"><br><strong>{{ facture.total|number_format(2, ',', ' ') }} €</strong></td>
                    <td class="rowEnd" id="toAlignRight"><br><strong>1</strong></td>
                    <td class="rowEnd" id="toAlignRight"><br><strong>{{ facture.total|number_format(2, ',', ' ') }} €</strong></td>
                </tr>
                {% set total = total + facture.total %}
            {% else %}
                <tr>
                    <td class="row"><br>{{ facture }}</td>
                    <td class="row" id="toAlignRight"><br><strong>{{ facture.total|number_format(2, ',', ' ') }} €</strong></td>
                    <td class="row" id="toAlignRight"><br><strong>1</strong></td>
                    <td class="row" id="toAlignRight"><br><strong>{{ facture.total|number_format(2, ',', ' ') }} €</strong></td>
                </tr>
                {% set total = total + facture.total %}
            {% endif %}
        {% endfor %}
    </table>
    <table>
        <tr>
            <td id="toAlignLeft" class="leftFinalRow" colspan="3"><strong>Reste a régler :</strong></td>
            <td id="toAlignRight" class="rightFinalRow"><strong>{{ total|number_format(2, ',', ' ') }} €</strong></td>
        </tr>
    </table>
{% endblock %}