{% extends 'pdfLayout.html.twig' %}

{% block style %}
    <link rel="stylesheet" href='{{ absolute_url(asset('style/pdfPresta_generator.css')) }}' />
{% endblock %}

{% block body %}
    <table>
        <tr id="tableHeader">
            <td>Désignation</td>
            <td>PU</td>
            <td>Quantité</td>
            <td>Montant HT</td>
        </tr>
        <tr>
            <td class="row"><br><strong>Prestation de service</strong><br>{{ prestas|last.startDate|localizeddate('none', 'none', null, null, 'MMMM y')|slice(0, 1)|upper }}{{ prestas|last.startDate|localizeddate('none', 'none', null, null, 'MMMM y')|slice(1,prestas|last.startDate|localizeddate('none', 'none', null, null, 'MMMM y')|length) }}</td>
            <td class="row"></td>
            <td class="row"></td>
            <td class="row"></td>
        </tr>
        {% set total = 0 %}
        {% for prestation in prestas %}
            {% if loop.last %}
                <tr>
                    <td class="rowEnd"><br><strong>Prestation de pilotage AIR DG</strong><br>Du {{ prestation.startDate|localizeddate('none', 'none', null, null, 'd') }} au {{ prestation.endDate|localizeddate('medium', 'none') }}</td>
                    <td class="rowEnd" id="toAlignRight"><strong>{{ prestation.unitPrice }} €</strong></td>
                    <td class="rowEnd" id="toAlignRight"><strong>{{ prestation.quantity }}J</strong></td>
                    <td class="rowEnd" id="toAlignRight"><strong>{{ prestation.totalPrice|number_format(2, ',', ' ') }} €</strong></td>
                </tr>
            {% else %}
                <tr>
                    <td class="row"><br><strong>Prestation de pilotage AIR DG</strong><br>Du {{ prestation.startDate|localizeddate('none', 'none', null, null, 'd') }} au {{ prestation.endDate|localizeddate('medium', 'none') }}</td>
                    <td class="row" id="toAlignRight"><strong>{{ prestation.unitPrice }} €</strong></td>
                    <td class="row" id="toAlignRight"><strong>{{ prestation.quantity }}J</strong></td>
                    <td class="row" id="toAlignRight"><strong>{{ prestation.totalPrice|number_format(2, ',', ' ') }} €</strong></td>
                </tr>
            {% endif %}
            {% set total = total + prestation.totalPrice %}
        {% endfor %}
        <tr>
            <td class="invisible"></td>
            <td id="toAlignRight" colspan="2"><strong>Total prestation HT</strong></td>
            <td id="toAlignRight"><strong>{{ total|number_format(2, ',', ' ') }} €</strong></td>
        </tr>
        <tr>
            <td class="invisible"></td>
            <td id="toAlignRight" colspan="2"><strong>TVA</strong></td>
            <td id="toAlignRight"><strong>0 €</strong></td>
        </tr>
        <tr>
            <td class="invisible"></td>
            <td id="toAlignRight" colspan="2"><strong>Total à régler</strong></td>
            <td id="toAlignRight"><strong>{{ total|number_format(2, ',', ' ') }} €</strong></td>
        </tr>
    </table>
    <p id="exoneration">Exonération de TVA, article 44 directive 2006/112</p>
{% endblock %}