{% extends '@EasyAdmin/default/new.html.twig' %}

{% block content_title %}
    <h1>Facture de maintenance d'un appareil</h1><hr/>
{% endblock %}

{% block main %}
    {% block entity_form %}
        <link rel="stylesheet" href='{{ asset('style/editFactureMaintenance.css') }}' />


        {{ form_start(form) }}
        <div class="col-xs-3" id="engineName">
            {{ form_row(form.engineName) }}
        </div>
        <div class="col-xs-12" id="label">
            <h4>{{ form_label(form.maintenanceItems) }}</h4><br>
        </div>
        <div class="maintenanceItems" id="category_wrapper" data-prototype="{{ form_widget(form.maintenanceItems.vars.prototype)|e('html_attr') }}">
            {% for category in form.maintenanceItems %}
                <div class="col-xs-7 form-group" id="count">
                    <p class="col-xs-12">
                        {{ form_row(category.name) }}
                    </p>
                    <div class="items" id="item_wrapper" data-prototype="{{ form_widget(category.items.vars.prototype)|e('html_attr') }}">
                        {% for item in category.items %}
                            <div id="count_item" class="col-xs-4 form-group">
                                {{ form_widget(item) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-xs-12">
            <hr>
            {{ form_row(form.sauvegarder_les_modifications) }}
        </div>

        {{ form_row(form._token) }}

        <script>
            let $newLinkDiv = $('<div class="col-xs-12"><a href="#" class="add_category"><i class="fa fa-plus-square"></i><span> Ajouter une catégorie</span></a></div>');
            let $newItemLinkDiv = $('<div><a href="#" class="add_item"><i class="fa fa-plus-square"></i><span> Ajouter un item</span></a></div>');

            jQuery(document).ready(function() {
                let $collectionHolder = $('div.maintenanceItems');
                $collectionHolder.append($newLinkDiv);
                console.log($collectionHolder.find('div#count').length);
                $collectionHolder.data('index', $collectionHolder.find('div#count').length);
                    $('a.add_category').on('click', function(e) {
                        e.preventDefault();
                        addCategoryForm($collectionHolder, $newLinkDiv);
                    });

                let $collectionItemHolder = $('div.items');
                $collectionItemHolder.append($newItemLinkDiv);
                $collectionItemHolder.data('indexItem', $collectionItemHolder.find('div#count_item').length);
                $('a.add_item').on('click', function(e) {
                    e.preventDefault();
                    let indexItem = $collectionItemHolder.data('indexItem');
                    $collectionItemHolder.data('indexItem', indexItem + 1);
                    let prototypeTest = $collectionItemHolder.data('prototype').replace(/__name__/g, indexItem);
                    let $newFormDiv = $('<div class="col-xs-4 form-group"></div>').append(prototypeTest);
                    $(this).before($newFormDiv);
                });
            });
            function addCategoryForm($collectionHolder, $newLinkDiv) {
                // Get the data-prototype explained earlier
                let index = $collectionHolder.data('index');
                let prototype = $collectionHolder.data('prototype').replace(/__name__/g, index);
                let $newFormDiv = $('<div class="col-xs-7 form-group"></div>').append(prototype);
                $collectionHolder.data('index', index + 1);
                $newLinkDiv.before($newFormDiv);

            }

        </script>

    {% endblock entity_form %}
{% endblock %}