<div class="form-group  field-maintenance_item col-xs-7" id="deleting">
    <p class="col-xs-12">
        {{ form_row(category.name) }}
    </p>
    <div class="items" id="{{ loop.index -1 }}" data-prototype="{{ form_widget(category.items.vars.prototype)|e('html_attr') }}">
        {% for item in category.items %}
            <div class="col-xs-4 form-group">
                {{ form_widget(item) }}
            </div>
        {% endfor %}
    </div>
    <div><a id="{{ loop.index - 1 }}" href="#" class="add_item col-xs-12"><i class="fa fa-plus-square"></i><span> Ajouter un item</span></a></div>
</div>