{% extends '@EasyAdmin/default/new.html.twig' %}

{% block content_title %}
    <h1>Edition de prestations</h1><hr/>
{% endblock %}

{% block main %}
    {% block entity_form %}
        <link rel="stylesheet" href='{{ asset('style/editFacturePresta.css') }}' />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">


        {{ form_start(form) }}
            <div class="col-xs-12">
                <h4>{{ form_label(form.prestas) }}</h4>
            </div>
            <div class="prestas" data-prototype="{{ form_widget(form.prestas.vars.prototype)|e('html_attr') }}">
                {% for presta in form.prestas %}
                    <div class="col-xs-5 form-group">
                        {{ form_widget(presta) }}
                    </div>
                {% endfor %}

            </div>
            <div class="col-xs-12">
                <hr>
                {{ form_row(form.sauvegarder_les_modifications) }}
            </div>
        {{ form_row(form._token) }}


        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
        <script>
            jQuery(document).ready(function() {
                $('.js-datepicker').datepicker({
                    format: 'yyyy-mm-dd'
                });
            });
        </script>
        <script>
        let $newLinkDiv = $('<div class="col-xs-12"><a href="#" class="add_presta"><i class="fa fa-plus-square"></i><span> Ajouter une prestation</span></a></div>');

        jQuery(document).ready(function() {
           let $collectionHolder = $('div.prestas');
            $collectionHolder.append($newLinkDiv);
            $collectionHolder.data('index', $collectionHolder.find(':input').length);
            $('a.add_presta').on('click', function(e) {
                e.preventDefault();
                addPrestaForm($collectionHolder, $newLinkDiv);
            });
        });
        function addPrestaForm($collectionHolder, $newLinkDiv) {
            // Get the data-prototype explained earlier
            let prototype = $collectionHolder.data('prototype');
            let index = $collectionHolder.data('index');
            $collectionHolder.data('index', index + 1);
            let $newFormDiv = $('<div class="col-xs-5 form-group"></div>').append(prototype);
            $newLinkDiv.before($newFormDiv);
            jQuery(document).ready(function() {
                $('.js-datepicker').datepicker({
                    format: 'yyyy-mm-dd'
                });
            });


        }
        </script>

    {% endblock entity_form %}
{% endblock %}